@model List<Vidly.Models.Movie>

@{
    ViewBag.Title = "Movies";
}

<h2>Movies</h2>

<div class="js-alert alert" style="display: none;">
    <span class="js-icon modal-glyph glyphicon"></span><span class="js-message"></span>
</div>

<div class="form-group">
    <a href="@Url.Action("New", "Movies")" class="btn btn-sm  btn-primary">
        <span class="glyphicon glyphicon-plus-sign"></span> New Movie
    </a>
    @*@Html.ActionLink("New Movie", "New", null, new {@class = "btn btn-sm  btn-primary"})*@
</div>

<table class="table table-bordered table-hover" id="movies">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @* Table now generated through api script ref: datatables *@
        @*@foreach (var movie in Model)
            {
                <tr>
                    <td>@Html.ActionLink(movie.Name, "Edit", "Movies", new { id = movie.Id }, null)</td>
                    <td>@movie.Genre.Name</td>
                </tr>
            }*@
    </tbody>
</table>

@section scripts
{
    @Scripts.Render("~/Scripts/custom/bootstrapAlert.js")
    @Scripts.Render("~/Scripts/custom/movies.api.js")
}


